body {
    color: black;
    background: linear-gradient(180deg, rgba(61,0,85,1) 0%, rgba(0,171,209,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

.title {
    font-size: 2.5em;
    text-shadow: rgb(123, 228, 247) 1px 0 10px;
}

div {
    text-align: center;
}

.part {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: 15px;
}

#sun {
    margin-top: 60px;
}

#mercury {
    background: linear-gradient(38deg, rgba(255,255,255,1) 0%, rgba(29,88,253,1) 50%, rgba(252,176,69,1) 100%);
}

#venus {
    background: linear-gradient(90deg, rgba(134,72,29,1) 28%, rgba(236,177,112,1) 74%);
}

#earth {
    background: linear-gradient(164deg, rgba(0,134,252,1) 23%, rgba(7,152,0,1) 50%, rgba(44,115,214,1) 100%);
}

#mars {
    background: linear-gradient(222deg, rgba(217,79,2,1) 10%, rgba(34,5,3,1) 50%, rgba(217,79,2,1) 100%);
}

#saturn {
    background: radial-gradient(circle, rgba(252,174,130,1) 0%, rgba(34,5,3,1) 50%, rgba(181,138,115,1) 100%);
}

#jupiter {
    background: radial-gradient(circle, rgba(255,255,255,1) 9%, rgba(209,106,53,1) 50%, rgba(0,174,242,1) 84%);
}

#uranus {
    background: linear-gradient(172deg, rgba(0,55,255,1) 26%, rgba(76,156,247,1) 50%, rgba(0,88,242,1) 73%);
}

#neptune {
    background: linear-gradient(188deg, rgba(0,174,255,1) 26%, rgba(76,213,247,1) 50%, rgba(0,157,242,1) 73%);
}


.mercury {
    background: linear-gradient(38deg, rgba(255,255,255,1) 0%, rgba(29,88,253,1) 50%, rgba(252,176,69,1) 100%);
}

.venus {
    background: linear-gradient(90deg, rgba(134,72,29,1) 28%, rgba(236,177,112,1) 74%);
}

.earth {
    background: linear-gradient(164deg, rgba(0,134,252,1) 23%, rgba(7,152,0,1) 50%, rgba(44,115,214,1) 100%);
}

.mars {
    background: linear-gradient(222deg, rgba(217,79,2,1) 10%, rgba(34,5,3,1) 50%, rgba(217,79,2,1) 100%);
}

.saturn {
    background: radial-gradient(circle, rgba(252,174,130,1) 0%, rgba(34,5,3,1) 50%, rgba(181,138,115,1) 100%);
}

.jupiter {
    background: radial-gradient(circle, rgba(255,255,255,1) 9%, rgba(209,106,53,1) 50%, rgba(0,174,242,1) 84%);
}

.uranus {
    background: linear-gradient(172deg, rgba(0,55,255,1) 26%, rgba(76,156,247,1) 50%, rgba(0,88,242,1) 73%);
}

.neptune {
    background: linear-gradient(188deg, rgba(0,174,255,1) 26%, rgba(76,213,247,1) 50%, rgba(0,157,242,1) 73%);
}

.planet-image {
    width: 50px;
    height: 50px;
    margin: 1.3em;
}

#sun-image {
    width: 200px;
    height: auto;
}

